<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    </configSections>
  <dataConfiguration defaultDatabase="Forex">
    <providerMappings>
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.SQLite.SQLiteDatabase, Microsoft.Practices.EnterpriseLibrary.Data.SQLite" name="System.Data.SQLite" />
    </providerMappings>
  </dataConfiguration>
  
    <connectionStrings>
      <add name="Forex" connectionString="Data Source=192.168.0.10, 8033;Initial Catalog=Forex;User ID=sa;Password=qazwsxedc"
            providerName="System.Data.SqlClient" />
      <add name="Forex_MT" connectionString="Data Source=192.168.0.10, 8033;Initial Catalog=Forex_MT;User ID=sa;Password=qazwsxedc"
            providerName="System.Data.SqlClient" />
      <add name="Forex2" connectionString="Data Source=f:\forex.db;Version=3;" providerName="System.Data.SQLite" />
    </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <add name="System.Data.SQLite" invariant="System.Data.SQLite" description="System.Data.SQLite"
				type="Microsoft.Practices.EnterpriseLibrary.Data.SQLite.SQLiteDatabase, Microsoft.Practices.EnterpriseLibrary.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>