<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<configSections>
      <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    </configSections>
  <dataConfiguration defaultDatabase="DataConnectionString">
  </dataConfiguration>
    <connectionStrings>
        <add name="DataConnectionString" connectionString="Data Source=192.168.0.10, 8033;Initial Catalog=Forex_MT;User ID=sa;Password=qazwsxedc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <probing privatePath="mql5\libraries" />
      </assemblyBinding>
   </runtime>
</configuration>